footer
    background-color: #4db5ff
    padding: 80px 0
    h1
        font-size: 30px
        font-weight: 700
        color: #004472
    .box
        margin: 15px 0
        a
            color: #004472
            font-size: 20px
            &:hover
                color: #fffff
                text-decoration: underline
    .icon
        font-size: 30px
        margin: 10px 0 30px 0 
        color: #004472
        i
            &:hover
                color: #ffffff